* {
	font-family: "微软雅黑";
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow-y: hidden;
	background-color: white !important;
	min-width: 1100px;
	min-height: 630px;
}

body {
	margin: 0;
	padding-top: 35px;
}

a {
	cursor: auto;
	color: black;
	text-decoration: none;
}

input::-ms-clear {
	display: none;
}

input::-ms-reveal {
	display: none;
}

.icod_nav {
	display: block;
	position: absolute;
	margin-left: 16px;
	margin-top: -5px;
}

.navber_title {
	cursor: pointer;
}

.icod_nav2 {
	display: block;
	position: absolute;
	margin-left: 19px;
	margin-top: 0px;
}

.navber_box {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	overflow: visible;
	z-index: 999;
}

.navber_inner {
	min-width: 450px;
	height: 35px;
	background-color: #585858;
	background-image: linear-gradient(to bottom, #2b2a2a, #585858);
	background-repeat: repeat-x;
	border-color: #252525;
	box-sizing: border-box;
	/*这里修改title的padding也得修改*/
}

.navber_box,
.navber_inner {
	padding-right: 0;
	padding-left: 0;
}

.navber_content {
	padding: 0 20px;
}

.navber_title {
	display: block;
	float: left;
	padding: 5px 20px 10px;
	margin-left: -20px;
	font-size: 18px;
	font-weight: 200;
	color: white;
}

.user_login_box {
	font-size: 13px;
	height: 50px;
	float: right;
	padding: 9px 20px;
	color: white;
}

.user_login_box>a {
	margin-left: 20px;
	color: white;
}

.content_box,
.row-fluid {
	display: block;
	content: "";
	height: 100%;
}

.content_box {
	width: 100%;
	display: inline-block !important;
	*zoom: 1;
}

.row-fluid:before,
.row-fluid:after,
.content_box:before,
.content_box:after {
	display: table;
	line-height: 0;
	content: "";
}

.row-fluid:after,
.content_box:after {
	clear: both;
}

.row-fluid {
	width: 100%;
}

.nav_left {
	height: 100%;
	width: 200px;
	display: inline-block;
	*display: block;
	*float: left;
	min-height: 165px;
	max-width: 200px;
	min-width: 130px;
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav_content {
	height: 100%;
	padding: 0px 0px;
	background-color: #fbfbfb;
	border-right: 1px solid #A9A9A9;
	/*-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;*/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-list {
	/*padding-right: 15px;
	padding-left: 15px;*/
	margin-bottom: 0;
}

.nav {
	margin-left: 0;
	list-style: none;
}

ul {
	display: block;
	padding: 0;
	/*padding: 0px 0 10px 25px;*/
}

.nav-header {
	display: block;
	padding: 10px 15px !important;
	font-size: 16px;
	line-height: 20px;
	background-color: #ffffff;
	color: black;
	cursor: pointer;
	border-top: 1px solid #ececec;
	/*border-bottom: 1px solid #b9cad3;*/
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	text-align: center;
}

li {
	line-height: 20px;
}

li {
	list-style-type: none;
	display: list-item;
	text-align: -webkit-match-parent;
}

.nav-list>li>ul>.active,
.nav-list>li>ul>.active:hover,
.nav-list>li>ul>.active:focus {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #5cb85c;
}

.nav-list>li>ul>.active>a {
	color: #ffffff;
}

.nav-list>li>a {
	padding: 3px 15px;
}

.nav-list>li>a,
.nav-list .nav-header {
	/*margin-right: -15px;
	margin-left: -15px;*/
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav>li>a {
	display: block;
}

.nav>li>ul>li:hover,
.nav>li>ul>li:focus,
.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}

.nav>li>ul>li {
	text-align: left;
	padding: 5px 32px;
	padding-left: 75px;
	cursor: pointer;
}

.nav>li>ul>li>a {
	font-size: 14px;
	cursor: pointer;
}

.nav>li>ul {
	/*display: none; */
}

li+li {
	margin-top: 0px !important;
}

.nav_left,
.content_right {
	vertical-align: top;
}


/*login*/

.login_box {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

.login_top,
.login_center,
.login_bottom {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.login_top {
	height: 20%;
	padding-top: 6%;
	padding-left: 15%;
}

.login_top label {
	font-size: 40px;
	color: #7B7676;
}

.login_center {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 75%;
	padding-left: 16%;
}

.login_from {
	font-size: 20px;
	color: #868686;
	height: 100%;
	padding-top: 5%;
}

.login_form_item {
	overflow: hidden;
}

.login_form_item span {
	display: block;
	float: left;
	width: 100px;
	margin-top: 5px;
}

.login_form_item input {
	outline: none;
	height: 40px;
	padding: 5px 10px;
	font-size: 17px;
	float: left;
	width: 300px;
}

.login_form_item+.login_form_item {
	margin-top: 2%;
}

.login_bottom {
	height: 5%;
	padding-top: 5px;
	text-align: center;
}

.login_btn {
	margin-left: 100px;
	margin-top: 20px;
}

.PIN_num {
	margin-right: 10px;
	width: 190px !important;
}

.PIN_num+img {
	margin-top: 2px;
}

.cancel_bag {
	border: 1px solid red;
}

#error_title {
	color: red;
	font-size: 17px;
	display: none;
	width: 400px;
}


/*end*/


/*welcome*/

.welcome_edit {
	display: table;
	overflow: auto;
	font-size: 80px;
	color: #bbbbbb;
	height: 100%;
}

.welcome_box {
	text-align: center;
	/*水平居中因素*/
	vertical-align: middle;
	/*垂直居中因素*/
	display: table-cell;
	/*垂直居中因素*/
	_position: absolute;
	/*垂直居中因素*/
	_top: 50%;
	/*垂直居中因素*/
}

.welcome_center {
	margin-left: auto;
	/*水平居中因素*/
	margin-right: auto;
	/*水平居中因素*/
	_position: relative;
	/*垂直居中因素*/
	_top: -50%;
	/*垂直居中因素*/
}


/*end*/

.content_right {
	overflow: auto;
	height: 100%;
	display: inline-block;
	*display: block;
	*float: left;
	padding: 1%;
	/*min-width: 200px;
	min-height: 300px;*/
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.content_top,
.content_middle {
	width: 100%;
	text-align: center;
}

.content_top {
	/*border-top: 1px solid #e5e5e5;*/
}

.content_top label {
	display: inline-block;
	font-size: 25px;
	margin-top: 15px;
	color: black;
	_zoom: 1;
	*display: inline;
}

.form_box {
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
	padding: 20px 0 10px 0;
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
}

.form_content {
	text-align: left;
	display: inline-block;
	box-sizing: border-box;
	*float: left;
	*margin-bottom: 10px;
}

.form_content label {
	display: inline-block;
	width: 80px;
	font-size: 16px;
}

.form_content input,
.form_content select {
	padding: 6px 12px;
	height: 34px !important;
	/*width: 42%;*/
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form_content select {
	width: 180px;
}

.Wdate {
	background-color: #efefef !important;
}

.middle_box {
	width: 100%;
	padding: 10px 0;
}


/*table*/

table {
	font-size: 16px;
	border: 1px solid #ddd;
	border-spacing: 0;
	border-collapse: collapse;
}

thead {
	font-size: 16px;
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td,
th {
	padding: 8px 8px;
	display: table-cell;
	border-left: 1px solid #ddd;
	font-weight: normal;
}

.table thead:first-child tr:first-child th {
	border-top: 0;
	color: black;
}

tfoot>tr>td,
.table>thead>tr>th {
	background-color: #f3f3f3;
	vertical-align: bottom;
	border-bottom: 1px solid #ddd;
	line-height: 1.42857143;
}

.table>thead>tr>th,
tbody>tr>td {
	text-align: center;
}

td {
	font-size: 15px;
	border-top: 1px solid #ddd;
}

table {
	min-width: 1050px;
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.product_table th,
.product_table td {
	padding: 8px 8px;
}

tfoot>tr>td {
	padding: 8px 8px !important;
}

.newpur_table td {
	padding: 0;
}

.table {
	max-width: 100%;
	width: 100%;
	margin-bottom: 20px;
}

.table_box {
	padding: 10px;
}

.table_btn_add2,
.table_btn_add {
	color: green;
	margin-right: 5px;
	font-size: 18px;
}

.table_btn_red {
	color: red;
}

.table_btn_add2,
.table_btn_add,
.table_btn_red {
	display: inline-block;
	font-weight: bold;
	width: 15px;
	*zoom: 1;
}

td>input,
td>select {
	text-align: center;
	padding-left: 5px;
	border: 1px solid #4cae4c;
	width: 100%;
	height: 32px;
}

.table_prodname,
.table_prodsort,
.table_unit,
.table_piceout {
	font-size: 15px;
}

.table_prodname {
	min-width: 120px;
}

.table_unit {
	min-width: 51px;
}

.margin_td {
	background-color: #FFFFFF;
	height: 50px;
}

.bottom_content {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.btn_style,
.white_btn,
.clear_model,
.seave_btn {
	display: inline-block;
	padding: 3px 20px;
	margin-bottom: 0;
	font-size: 17px;
	font-weight: 400;
	height: 33px;
	line-height: 1.41857143;
	text-align: center;
	white-space: nowrap;
	/*vertical-align: middle;*/
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 2px;
	filter: chroma(color=#000000);
	outline: 0;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	*zoom: 1;
}

.white_btn {
	float: right;
	color: black;
	background-color: white;
}

.white_btn:hover {
	background-color: #e8e8e8;
}

.btn_style:hover,
.seave_btn:hover {
	background-color: #398439;
}

.btn_style,
.seave_btn {
	/*margin-bottom: 20px;*/
}

.btn_box {
	float: right;
	width: 200px;
	text-align: center;
}

.per_id {
	padding-right: 20px;
	border: none !important;
}

.per_id:focus {
	text-align: left;
}

.search_input {
	border: 1px solid rgba(164, 198, 253, 0.56) !important;
}

@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

.icon-edit,
.icon-search {
	position: absolute;
	color: #aba3a3;
	right: 3px;
	line-height: 32px;
	cursor: pointer;
}

.icon-clear,
.model_search_icon,
.icon-edit,
.icon-search {
	font-family: "iconfont" !important;
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clear {
	float: right;
	cursor: pointer;
}

.icon-clear:hover {
	background-color: #AAAAAA;
	color: white;
	border-radius: 100%;
}

.icon-clear_margin {
	margin-top: -15px;
	margin-right: -10px;
}

.search_id,
.p_id {
	width: 150px;
	position: relative;
}

.p_id {
	text-align: left !important;
}


/*.p_id>.icon-search {
	display: none;
}*/

.dispy_none {
	display: none;
}

.div_content {
	display: none;
	margin: 0 auto;
	overflow: visible;
	margin-top: 5%;
	border-radius: 8px;
	box-shadow: 0px 6px 5px 0px #6d6b6b;
	width: 900px;
	background-color: #fff;
}

.div_overlay {
	display: none;
	position: fixed;
	left: 0;
	margin-left: 200px;
	bottom: 0%;
	right: 0%;
	width: 90%;
	height: 97%;
	background: transparent;
	/*不支持rgba的浏览器*/
	background-color: rgba(95, 93, 93, 0.33);
	/*支持rgba的浏览器*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4b6d6b6b, endColorstr=#4b6d6b6b);
	z-index: 999;
	overflow: auto;
}

.clear_model {
	background-color: #fb7373;
	border: 1px solid #fb7373;
}

.clear_model:hover {
	background-color: #ec6161;
}

.modelbtn_box {
	position: relative;
	width: 100%;
	text-align: start;
	padding-left: 160px;
}

.model_nav {
	text-align: start;
	padding: 20px 15px 0 15px;
}

.model_nav title {
	display: block;
	display: inline-block;
	font-size: 25px;
}

.model_form {
	padding-left: 50px;
	text-align: left;
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}

.model_form span {
	color: #808080;
	display: block;
	float: left;
	width: 64px;
	margin-top: 5px;
}

.model_list_append {
	padding: 20px 0 0 0;
	border-top: 1px solid gainsboro;
}

.product_search input,
.product_search select,
.supplylist input,
.supplylist select,
.stock_search input,
.stock_search select,
.model_form input,
.model_form select {
	padding: 6px 12px;
	height: 34px;
	width: 200px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-left: 15px;
}

.productlist_select_val {
	position: absolute;
	/*不支持rgba的浏览器*/
	padding: 0px 12px !important;
	height: 30px !important;
	margin-top: 2px;
	margin-left: 16px !important;
	background-color: white !important;
	width: 190px !important;
	outline: none;
	box-shadow: none !important;
	border: none !important;
}

.model_form .edit_input {
	width: 230px;
	outline: none;
}

.model_search {
	text-align: left;
	padding-left: 20px;
	border: 1px solid rgba(164, 198, 253, 0.56);
	width: 100%;
	*width: 450px;
	height: 32px;
}

.model_search_icon {
	position: absolute;
	color: #aba3a3;
	margin-left: 1px;
	/* right: 0px; */
	/* top: 0; */
	line-height: 32px;
	cursor: pointer;
}

.model_list {
	overflow: auto;
}

.model_prodtype {
	padding: 10px 0 0 0;
	overflow: auto;
}

.model_prodtype li {
	display: block;
	float: left;
	font-size: 15px;
	color: #6f6f6f;
	padding: 5px 5px;
	margin-top: 3px !important;
	margin-left: 13px;
	cursor: pointer;
}

.model_type_ul {
	padding: 0px 0 10px 25px;
}

.model_prodtype>ul>li:hover {
	background-color: #9fddff;
	border-radius: 5px;
	padding: 5px 5px;
}

.model_prodtype>ul>.model_active {
	background-color: #3996ca;
	padding: 5px 5px;
	margin-top: 0px;
	color: white;
	border-radius: 5px;
}

.model_table {
	text-align: left;
	padding: 0px 30px 0 30px;
	margin-bottom: 10px;
	overflow: auto;
}

.model_table table {
	width: 840px;
	min-width: 840px;
}

.model_table thead tr {
	background-color: rgb(232, 232, 232) !important;
}

.model_table2 tbody tr {
	cursor: pointer;
}

.model_table2 tbody tr td {
	text-align: left;
}

.tr_hover:hover {
	background-color: #C0EBEF;
}

.searchable-select {
	margin-top: -25px;
	left: 84px;
	height: 34px;
	max-width: 179px !important;
}

.searchable-select-holder {
	overflow: initial !important;
	max-height: 34px !important;
	height: 34px;
}

.detail_input {
	color: #000000 !important;
	font-size: 17px !important;
	border: none !important;
	padding: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none !important;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.detail_bottom_box {
	margin-bottom: 30px;
	overflow: hidden;
	padding: 0 15px;
}

.detail_bottom_box>.data_name {
	float: left;
	font-size: 18px;
}

.detail_bottom_box>.data_time {
	float: right;
	font-size: 18px;
}

.detail_bottom_box label {
	font-size: 18px;
	margin-left: 10px;
}

#sum_totalmoney {
	display: block;
}

.prompt_model {
	display: none;
	text-align: center;
	padding: 0 10px;
	color: red;
	font-size: 17px;
}

.product_search,
.supplylist,
.stock_search {
	float: left;
	padding-right: 10px;
}

.product_search {
	padding-right: 10px;
	color: black;
	font-size: 15px;
}

.product_search input {
	width: 150px;
}

.product_search select {
	width: 100px;
}

.supplylist label,
.stock_search label {
	font-size: 16px;
}

.supplylist input,
.supplylist select,
.stock_search input,
.stock_search select {
	width: 150px !important;
}

.supplylist input,
.supplylist select {
	margin-left: 0 !important;
}

.supplylist_table th,
.stocklist_table th {
	padding: 8px;
}

.supplylist_table th {
	text-align: left !important;
}

.supplylist_table td,
.stocklist_table td {
	padding: 10px:;
	10px 5px!important;
}

.supplylist_table td {
	text-align: left;
}

.pubmenu_box {
	float: left;
	margin-right: 25px;
}

.pubmenu_btn {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 14px;
	padding-right: 14px;
	box-sizing: border-box;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	line-height: 2.55555556;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #353535;
	background-color: white;
	cursor: pointer;
	outline: none;
	width: 110px;
}

.defar_btn {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 14px;
	padding-right: 14px;
	box-sizing: border-box;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	line-height: 2.55555556;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #353535;
	background-color: white;
	cursor: pointer;
	outline: none;
}

.defar_btn:hover {
	color: #afafaf;
}

.pubmenu_btn:hover {
	color: #afafaf;
}

.one,
.two {
	text-align: start;
	padding: 0px 0 10px 15px;
	display: none;
}

.one {
	padding: 30px 0 10px 15px;
}

.pubmenu_btn {
	float: left;
	display: none;
	margin-left: 150px;
}

.pubmenu_btn+.pubmenu_btn {
	margin-left: 10px !important;
}

.pubmen_table {
	min-width: 800px !important;
	border: none !important;
	font-size: 15px;
	width: auto !important;
}

.pubmen_table td {
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
}

.pubmen_table_td1 {
	width: 30px;
}

.pubmen_table_td2 {
	text-align: left !important;
}

.pubmen_table_td3 {
	text-align: right !important;
	padding: 5px 10px;
}

.pubmen_table_out,
.pubmen_table_edit,
.pubmen_table_del {
	display: block;
	float: right;
	width: 32px;
	cursor: pointer;
}

.pubmen_table_edit {
	color: #0BB20C;
}

.pubmen_table_out,
.pubmen_table_del {
	color: red;
	margin-left: 10px;
}

.pubmen_table_bor {
	width: 40px;
	line-height: 25px;
	height: 25px;
	border-right: 1px solid #dddddd;
}

.out_pubmenu:hover {
	color: #afafaf;
	text-decoration: underline;
}

.pub_btn_add {
	margin-top: 15px;
	display: none;
	margin-left: 445px;
	float: left;
}

.dispy_none {
	display: none;
}

.page_div {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.down_excel {
	display: block;
	float: left;
	color: #2aa0da;
	margin-left: 30%;
	margin-top: 27px;
}

.down_excel:hover {
	text-decoration: underline;
}

.excel_up_box {
	float: left;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.excel_up_box label {
	color: #6d6c6c;
}

.excel_text_box {
	text-align: left;
	padding-left: 50px;
	line-height: 2;
}

.excel_text_box label,
.excel_text_box p {
	color: #6d6c6c;
}

.excel_text_box label {
	font-size: 16px;
}

.excel_text_box p {
	font-size: 15px;
	margin-left: 32px;
}

.excel_form_edit {
	border-bottom: 1px solid #e5e5e5;
	overflow: auto;
	padding-bottom: 20px;
}

.loadingWrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
	background-image: url(../img/login.gif);
	background-repeat: no-repeat;
	background-position: 60% 50%;
	background-color: #fff;
	background-color: rgba(0, 0, 0, 0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
	filter: alpha(opacity=0);
}